@import "../../../main";

html, body {
  font-family: sans-serif;

}

.main {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 35px;
  background: #E3E3D8;

}

.wrapper {
  width: 250px;
  height: 400px;
  background: white;
  margin: auto;
  position: relative;
  overflow: hidden;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  transform: scale(0.95);
  transition: box-shadow 0.5s, transform 0.5s;

}

.wrapper:hover {
  transform: scale(1);
  box-shadow: 5px 20px 30px rgba(0, 0, 0, 0.4);
}

.wrapper .container {
  width: 100%;
  height: 100%;
}

.wrapper .container .top {
  height: 75%;
  width: 100%;
  object-fit: cover;
}

.wrapper .container .bottom {
  width: 200%;
  height: 25%;
  transition: transform 0.5s;
}

.wrapper .container .bottom.clicked {
  transform: translateX(-50%);
}

.wrapper .container .bottom h1 {
  margin: 0;
  padding: 0;
}

.wrapper .container .bottom p {
  margin: 0;
  padding: 0;
}

.wrapper .container .bottom .left,.wrapper .container .bottom .left1{
  height: 100%;
  width: 50%;
  background: $contentColor;
  position: relative;
  float: left;
  color: $textColorLigth;
}
.wrapper .container .bottom .left1{
  background: $contentDark;
}
.wrapper .container .bottom .left .details,.wrapper .container .bottom .left1 .details {
  padding: 10px;
  float: left;
  width: calc(80% - 40px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h5{
    font-size: 21px;
  }
  p{
    font-size: 25px;
  }
}

.wrapper .container .bottom .left .buy,.wrapper .container .bottom .left1 .buy1 {
  float: right;
  width: calc(30% - 2px);
  height: 100%;
  background: $contentColor;
  transition: background 0.5s;
  border-left: solid thin rgba(255, 255, 255, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  & > svg{
    font-size: 35px;
  }
}
.wrapper .container .bottom .left1 .buy1{
  background: $contentDark;
}

.wrapper .container .bottom .left .buy i,.wrapper .container .bottom .left1 .buy1 i {
  font-size: 40px;
  padding: 30px;
  color: #254053;
  transition: transform 0.5s;
}

.wrapper .container .bottom .left .buy:hover,.wrapper .container .bottom .left1 .buy1:hover {
  background: #7190dc;
}

.wrapper .container .bottom .left .buy:hover i,.wrapper .container .bottom .left1 .buy1:hover i {
  transform: translateY(5px);
  color: #00394B;
}

.wrapper .container .bottom .right {
  width: 50%;
  background: #A6CDDE;
  color: white;
  float: right;
  height: 200%;
  overflow: hidden;
}

.wrapper .container .bottom .right .details {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 5px 0;
  float: right;
  width: calc(80% - 40px);

  & > h1 {
    margin-top: 10px;
    font-size: 20px;
  }

  & > p {
    margin-top: 10px;
    font-size: 14px;
  }
}

.wrapper .container .bottom .right .done {
  width: calc(25% - 2px);
  float: left;
  transition: transform 0.5s;
  border-right: solid thin rgba(255, 255, 255, 0.3);
  height: 63%;
  display: flex;
  justify-content: center;
  align-items: center;
  & > svg{
    font-size: 35px;
    margin-bottom: 15px;
  }
}

.wrapper .container .bottom .right .done i {
  font-size: 50px;
  padding: 30px;
  color: white;
}

.wrapper .container .bottom .right .remove {
  width: calc(25% - 2px);
  clear: both;
  border-right: solid thin rgba(255, 255, 255, 0.3);
  height: 63%;
  background: #BC3B59;
  transition: transform 0.5s, background 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  & > svg{
    font-size: 35px;
    margin-bottom: 15px;
  }
}

.wrapper .container .bottom .right .remove:hover {
  background: #9B2847;
}

.wrapper .container .bottom .right .remove:hover i {
  transform: translateY(5px);
}

.wrapper .container .bottom .right .remove i {
  transition: transform 0.5s;
  font-size: 30px;
  padding: 30px;
  color: white;
}

.wrapper .container .bottom .right:hover .remove, .wrapper .container .bottom .right:hover .done {
  transform: translateY(-100%);
}

.wrapper .inside,.wrapper .inside1 {
  z-index: 9;
  background: $contentColor;
  width: 140px;
  height: 140px;
  position: absolute;
  top: -70px;
  right: -70px;
  border-radius: 0px 0px 200px 200px;
  transition: all 0.5s, border-radius 2s, top 1s;
  overflow: hidden;
}
.wrapper .inside1{
  background: $contentDark;
}

.wrapper .inside .icon,.wrapper .inside1 .icon, {
  position: absolute;
  right: 85px;
  top: 85px;
  color: white;
  opacity: 1;
}

.wrapper .inside:hover,.wrapper .inside1:hover {
  width: 100%;
  right: 0;
  top: 0;
  border-radius: 0;
  height: 75%;
}

.wrapper .inside:hover .icon,.wrapper .inside1:hover .icon {
  opacity: 0;
  right: 15px;
  top: 15px;
}

.wrapper .inside:hover .contents,.wrapper .inside1:hover .contents {
  opacity: 1;
  transform: scale(1);
  transform: translateY(0);
}

.wrapper .inside .contents,.wrapper .inside1 .contents {
  padding: 5%;
  opacity: 0;
  transform: scale(0.5);
  transform: translateY(-200%);
  transition: opacity 0.2s, transform 0.8s;
}

.wrapper .inside .contents table,.wrapper .inside1 .contents table {
  text-align: left;
  width: 100%;
}
  .hr{
    &:not([size]) {
      height: 5px;
    }
    width: 100%;
    background: whitesmoke;

  }
.wrapper .inside .contents h1, .wrapper .inside .contents p, .wrapper .inside .contents table,
.wrapper .inside1 .contents h1, .wrapper .inside1 .contents p, .wrapper .inside1 .contents table{
  color: white;
}

.wrapper .inside .contents p,.wrapper .inside1 .contents p {
  font-size: 13px;
}